body {
    font-family: segoe ui;
    background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.blog-post-card {
    background: white;
    border-radius: 25px;
    width: 400px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.post-img {
  width: 100%;
  border-bottom: 10px solid black;
  display: block;
  border-radius: 25px 25px 0 0;
}
.post-title {
  margin: 0 0 10px;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}
.post-excerpt {
  margin: 0 0 20px;
  color: #666;
  font-size: 16px;
}

.post-content {
  padding: 20px;
}

.read-more {
    background-color: red;
    padding: 5px;
    border: 2px solid red;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
}

.read-more:hover {
    background-color: blue;
    padding: 5px;
    border: 2px solid blue;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
}

.post-title {
    margin: 20px 20px 20px 20px;
    color: black;
}

.post-excerpt {
    margin: 20px 20px 20px 20px;
    color: grey;
}