body{
    background :rosybrown;
    font-family:Arial, sans-serif;
  }
  p{
    margin-top:5px;
    margin-bottom:5px;
  }
  a {
        text-decoration: none;
  }
  a:hover{
    text-decoration:underline;
  
  }
  .business-card {
     border: 2px solid #333;
    width:300px;
    background-color:white;
    padding:20px;
    margin-top:100px;
    margin-bottom:0px;
    text-align:center;
    font-size:16px;
    margin-left:auto;
    margin-right:auto;
  }
  .profile-image{
    max-width:100%;
  }
  .full-name{
    font-size:24px;
    font-weight: bold;
  }
  .social-media p {
    display: inline-block;
    margin-right: 10px; 
  }
  .social-media a {
    color:brown; 
  }